/* Plugin container */
@blue: #187D7B;

.prefixed(@prop; @args) {
  -webkit-@{prop}: @args;
  -khtml-@{prop}: @args;
  -moz-@{prop}: @args;
  -ms-@{prop}: @args;
  -o-@{prop}: @args;
    @{prop}: @args;
}

.bk-accordion {
  height: 0;
  opacity: 0;
  padding: 0;
  z-index: 91;
  width: 100%;
  position: relative;
  background: @blue;
  .prefixed(transition, all 1s ease-in-out);

  .bk-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #FFFFFF;

    .bk-loader {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(/resources/vivid/images/widget-loader.gif) center center no-repeat;
      background-color: #FFFFFF;
      opacity : 0.45;
      z-index: -1;
    }
 }

  &.no-transition-resize {
    .prefixed(transition, none);
    background: #C8E5F8;
  }

  &.no-transition {
    .prefixed(transition, none);
  }

  .bk-resize {
    position: absolute;
    height: 3px;
    width: 100%;
    cursor: row-resize;
    bottom: 1px;
  }

  .bk-close {
    position: absolute;
    height: 16px;
    width: 16px;
    right: 5px;
    top: 5px;
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: url("accordionPlugin/resources/images/x.png");

    &:hover {
      opacity: 0.75;
      filter: alpha(opacity=75);
      cursor: pointer;
    }
  }
}

.bk-arrow {
  position: relative;
  background: @blue;
  opacity: 0;
  .prefixed(transition, all 1s ease-in-out);
}

.bk-arrow:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 51, 170, 0);
  border-bottom-color: @blue;
  border-width: 15px;
  margin-left: -15px;
}
.widget-body.clickable{
  cursor: pointer;
}