/* Plugin container */
.bk-accordion {
  height: 0;
  opacity: 0;
  padding: 0;
  z-index: 91;
  width: 100%;
  position: relative;
  background: #187D7B;
  -webkit-transition: all 1s ease-in-out;
  -khtml-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.bk-accordion .bk-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #FFFFFF;
}
.bk-accordion .bk-wrapper .bk-loader {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/resources/vivid/images/widget-loader.gif) center center no-repeat;
  background-color: #FFFFFF;
  opacity: 0.45;
  z-index: -1;
}
.bk-accordion.no-transition-resize {
  -webkit-transition: none;
  -khtml-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  background: #C8E5F8;
}
.bk-accordion.no-transition {
  -webkit-transition: none;
  -khtml-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.bk-accordion .bk-resize {
  position: absolute;
  height: 3px;
  width: 100%;
  cursor: row-resize;
  bottom: 1px;
}
.bk-accordion .bk-close {
  position: absolute;
  height: 16px;
  width: 16px;
  right: 5px;
  top: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: url("accordionPlugin/resources/images/x.png");
}
.bk-accordion .bk-close:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
  cursor: pointer;
}
.bk-arrow {
  position: relative;
  background: #187D7B;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -khtml-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.bk-arrow:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 51, 170, 0);
  border-bottom-color: #187D7B;
  border-width: 15px;
  margin-left: -15px;
}
.widget-body.clickable {
  cursor: pointer;
}
