<div data-ng-controller="plugin-funnel.controllers.stylerController">

    <div class="settings-pane-host">

		<div class="pane-row">
				<div class="pane-row-title">Invert Chart</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.isInverted == true}" data-ng-click="inverse(true)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.isInverted == true}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">True</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.isInverted == false}" data-ng-click="inverse(false)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.isInverted == false}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">False</div>
					 </div>
					 
				</div>
		</div>
        
		<div class="pane-row">
				<div class="pane-row-title">Dynamic Sizing</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.dynamicArea == true}" data-ng-click="dynamicArea(true)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.dynamicArea == true}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">True</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.dynamicArea == false}" data-ng-click="dynamicArea(false)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.dynamicArea == false}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">False</div>
					 </div>
					 
				</div>
		</div>
		
		<div class="pane-row">
				<div class="pane-row-title">Pinch the Bottom</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.bottomPinch == 1}" data-ng-click="bottomPinch(1)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.bottomPinch == 1}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">True</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.bottomPinch == 0}" data-ng-click="bottomPinch(0)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.bottomPinch == 0}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">False</div>
					 </div>
					 
				</div>
		</div>
		
		<div class="pane-row">
				<div class="pane-row-title">Curved Funnel</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.isCurved == true}" data-ng-click="isCurved(true)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.isCurved == true}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">True</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.isCurved == false}" data-ng-click="isCurved(false)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.isCurved == false}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">False</div>
					 </div>
					 
				</div>
		</div>
		
	</div>
</div>