.defaultCSS {
    font-size: 1.3em;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    border: 1px solid #ffffff;
    fontFamily: 'Roboto, sans-serif';
    height: 32px;
    color: '#cccccc';
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.listDefaultCSS {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vSeparatorCSS {
    display: inline;
    width: 1px;
    height: 100%;
    border-right: 1px solid #d1d1d1;
    margin-right: 12px;
    margin-left: 12px;
}

.listItemDefaultCSS {
    display: inline-block;
    cursor: pointer;
}

.descDefaultCSS {
    color: #a5a5a5;
    cursor: default;
}

.parentCSS {
    height: 35px;
    /*marginLeft: -15px;*/
    text-align: center;
    display: table;
}