<div class="tablewidget-borders-host generic-pane-holder" data-ng-class="{ 'enabled': bordersEnabled }">
    <div>
        <div class="generic-pane-title"> BORDERS </div>
    </div>
    <div class="generic-pane-rows-holder">
        <div class="tablewidget-borders-options-holder">
            <div data-ng-repeat="borders in bordersOptions"
                data-ng-class="{ selected: borders.value == selectedBorders, last: $last }"
                data-ng-click="selectBorders(borders)"
                data-ng-mouseenter="mouseEnter(borders)"
                data-ng-mouseleave="mouseLeave()"
                class="tablewidget-borders-item"
            >
                <div class="tablewidget-borders-image" image-type="{{borders.value}}"></div>
            </div>
            <div class="tablewidget-selected-borders-caption">
                <div data-ng-hide="hoveredBorders" class="tablewidget-borders-caption-text">{{ getSelectedBordersName() }}</div>
                <div data-ng-show="hoveredBorders" class="tablewidget-borders-caption-text">{{ hoveredBorders }}</div>
            </div>
        </div>
    </div>
</div>