﻿﻿﻿<div data-ng-controller="plugin-tableWidget.controllers.stylerController" class="tablewidget-styler-content settings-pane-host">

    <data-borders data-selected-borders="bordersOptions" data-on-change="redraw()"></data-borders>

    <div class="pane-row" data-ng-show="columnWidthOptions.length">
        <div class="generic-pane-holder">
            <div class="generic-pane-title"> COLUMN WIDTH </div>
            <div class="generic-pane-rows-holder">
                <div data-ng-repeat="option in columnWidthOptions"
                     data-ng-class="{ selected: isSelected(option.value) }"
                     data-ng-click="clickRadioBox(option.value)"
                     class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: isSelected(option.value) }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">{{ option.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="pane-row" data-ng-show="colorOptions.length">
        <div class="generic-pane-holder">
            <div class="generic-pane-title"> COLORS </div>
            <div class="generic-pane-rows-holder">
                <div class="cbox-pane-row"
                     data-ng-repeat="option in colorOptions"
                     data-ng-click="clickCheckBox(option.value)"
                     data-ng-class="{ selected: isSelected(option.value) }">
                    <div class="custom-cbox-btn" data-ng-class="{ selected: isSelected(option.value) }"></div>
                    <div class="pane-separator"></div>
                    <div class="pane-caption">{{ option.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="pane-row" data-ng-show="wordwrapOptions.length">
        <div class="generic-pane-holder">
            <div class="generic-pane-title"> WORD WRAP </div>
            <div class="generic-pane-rows-holder">
                <div class="cbox-pane-row"
                     data-ng-repeat="option in wordwrapOptions"
                     data-ng-click="clickCheckBox(option.value)"
                     data-ng-class="{ selected: isSelected(option.value) }">
                    <div class="custom-cbox-btn" data-ng-class="{ selected: isSelected(option.value) }"></div>
                    <div class="pane-separator"></div>
                    <div class="pane-caption">{{ option.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="pane-row">
        <div class="generic-pane-holder">
            <data-checker-pane data-pane-title="INFINITE SCROLL"
                               data-pane-enabled="model.scroll"
                               data-on-change="redraw()"></data-checker-pane>
        </div>
    </div>

    <div class="pane-row" data-ng-hide="model.scroll">
        <data-single-numeric-pane data-pane-title="{{ 'PIVOT_STYLER.PAGE_SIZE.TITLE' | translate }}"
                                  data-pane-subtitle="{{ 'PIVOT_STYLER.PAGE_SIZE.SUB_TITLE' | translate }}"
                                  data-value="model.pageSize"
                                  data-min="1" data-max="200" data-step="1"
                                  data-on-change="redraw()"></data-single-numeric-pane>
    </div>

</div>


