/* Constants */
/* Mixins */
.scroll-overlay,
.tablewidget-widget-content .tw-table-container .dataTables_scroll:after {
  content: '';
  width: 17px;
  height: 100%;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
}
/* WIDGET */
.tablewidget-widget-content {
  overflow: hidden;
  height: 100%;
  padding: 8px 0 8px 8px;
  background: #ffffff;
  font-family: ubuntulight, sans-serif;
}
.tablewidget-widget-content .dataTables_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.tablewidget-widget-content .dataTables_wrapper:nth-child(2) {
  visibility: hidden;
}
.tablewidget-widget-content .DTS_Loading:after {
  content: '';
  margin: 0 auto;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 48px;
  width: 48px;
  z-index: 3;
  font-size: 0;
  text-indent: 9999px;
  position: absolute;
  background: #DDD;
  opacity: 0.45;
  transition: opacity 0.5s ease-in;
  background: url(/resources/vivid/images/widget-loader.gif) center center no-repeat;
}
.tablewidget-widget-content .tw-table-container.DTS_Loading {
  top: inherit;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll {
  overflow: hidden;
  position: relative;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll:after {
  z-index: 2;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll:hover:after {
  z-index: 0;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollHead {
  position: relative;
  overflow: scroll !important;
  overflow-x: hidden !important;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollBody {
  position: relative;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  z-index: 1;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollBody th * {
  display: none;
  font-size: 0;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollBody th:before {
  content: normal;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollBody .tw-sort-head {
  display: none !important;
}
.tablewidget-widget-content .tw-table-container .dataTables_scroll:hover .dataTables_scrollBody {
  overflow-x: auto !important;
  overflow-y: scroll !important;
  z-index: 4;
}
.tablewidget-widget-content .tw-table-container:not(.tw-vertical-scroll):not(.width-window) .dataTables_scroll:hover .dataTables_scrollBody {
  z-index: 1;
}
.tablewidget-widget-content .tw-table-container:not(.tw-vertical-scroll):not(.width-window) .dataTables_scroll:hover:after {
  z-index: 2 !important;
}
.tablewidget-widget-content .tw-table-container:not(.tw-vertical-scroll):not(.width-window) .dataTables_scroll .dataTables_scrollBody {
  z-index: 1 !important;
}
.tablewidget-widget-content .tw-table-container:not(.tw-vertical-scroll):not(.width-window) .dataTables_scroll:after {
  z-index: 2 !important;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid) #grid,
.tablewidget-widget-content .tw-table-container:not(.borders-grid) .dataTables_scrollHead table {
  border-right: 1px solid #CCCCCC;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-vertical-scroll:not(.tw-horizontal-scroll) .tw-bottom-border {
  display: block;
  left: 0;
  z-index: 4;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-vertical-scroll:not(.tw-horizontal-scroll).tw-ff .tw-bottom-border {
  bottom: 7px;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-vertical-scroll:not(.tw-horizontal-scroll):not(.tw-webkit) .tw-bottom-border {
  right: 17px;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-vertical-scroll.tw-horizontal-scroll:not(.width-window) .tw-bottom-border {
  display: block;
  width: 100% !important;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-vertical-scroll.tw-horizontal-scroll:not(.width-window):not(.tw-webkit) .tw-bottom-border {
  right: 17px;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-vertical-scroll.tw-horizontal-scroll:not(.width-window).tw-ff .tw-right-border,
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-vertical-scroll.tw-horizontal-scroll:not(.width-window).tw-ff .tw-left-border {
  height: 100% !important;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-vertical-scroll.tw-horizontal-scroll:not(.width-window).tw-ff .tw-bottom-border {
  bottom: 7px;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-horizontal-scroll:not(.width-window).tw-scrolled-h .tw-left-border {
  display: block;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-horizontal-scroll:not(.width-window).tw-ff .tw-right-border,
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-horizontal-scroll:not(.width-window).tw-ff .tw-left-border {
  top: -7px;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-horizontal-scroll:not(.width-window):not(.tw-scrolled-h-r) .tw-right-border {
  display: block;
  right: 8px;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-horizontal-scroll:not(.width-window):not(.tw-scrolled-h-r):not(.tw-webkit) .tw-right-border {
  right: 17px;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).width-window.tw-vertical-scroll .tw-bottom-border {
  right: 8px;
  width: auto;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).width-window.tw-vertical-scroll.tw-ff .tw-bottom-border {
  bottom: 0;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).width-window.tw-vertical-scroll:not(.tw-webkit) .tw-bottom-border {
  display: block;
  left: 0;
  z-index: 4;
}
.tablewidget-widget-content .tw-table-container:not(.borders-grid).tw-scrolled-v-b.width-window .tw-bottom-border {
  display: none !important;
}
.tablewidget-widget-content .tw-table-container .tw-left-border,
.tablewidget-widget-content .tw-table-container .tw-right-border {
  border-right: 1px solid #e6e6e6;
  z-index: 3;
  position: absolute;
  top: 0;
  width: 0;
}
.tablewidget-widget-content .tw-table-container .tw-left-border {
  z-index: 4;
}
.tablewidget-widget-content .tw-table-container .tw-bottom-border {
  border-bottom: 1px solid #e6e6e6;
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 8px;
  width: auto;
  height: 0;
}
.tablewidget-widget-content .tw-table-container .tw-left-border,
.tablewidget-widget-content .tw-table-container .tw-right-border,
.tablewidget-widget-content .tw-table-container .tw-bottom-border {
  display: none;
}
.tablewidget-widget-content .tw-table-container.tw-webkit .tw-left-border,
.tablewidget-widget-content .tw-table-container.tw-webkit .tw-right-border,
.tablewidget-widget-content .tw-table-container.tw-webkit .tw-bottom-border {
  z-index: 4;
}
.tablewidget-widget-content .tw-no-data {
  font-family: ubuntulight, sans-serif;
  font-size: 20px;
  color: #565656;
  width: 143px;
  height: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.tablewidget-widget-content .tw-col-resize {
  display: block;
  position: absolute;
  width: 2px;
  height: 22px;
  top: 1px;
  right: 0;
  cursor: col-resize;
}
.tablewidget-widget-content .wordwrap-headers table thead tr th {
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: normal;
  overflow: hidden;
}
.tablewidget-widget-content .wordwrap-rows table tbody tr td {
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: normal;
  overflow: hidden;
}
.tablewidget-widget-content .borders-grid table thead tr:last-child th {
  border-top: none;
}
.tablewidget-widget-content .borders-grid table thead tr:last-child th:first-child {
  border-left: none;
}
.tablewidget-widget-content .borders-grid table thead tr:last-child th:last-child {
  border-right: none;
}
.tablewidget-widget-content .borders-grid table tbody tr:last-child td {
  border-bottom: none;
}
.tablewidget-widget-content .borders-grid table tbody tr td:first-child {
  border-left: none;
}
.tablewidget-widget-content .borders-grid table tbody tr td:last-child {
  border-right: none;
}
.tablewidget-widget-content .borders-rows table tbody tr td:not(:first-child) {
  border-left: none;
}
.tablewidget-widget-content .borders-columns table tbody tr:not(:last-child) td {
  border-bottom: none;
}
.tablewidget-widget-content .borders-columns table tbody tr.child td,
.tablewidget-widget-content .borders-columns table tbody tr.parent td {
  border-bottom: 1px solid #E6E6E6;
}
.tablewidget-widget-content .colors-headers table thead tr {
  background-color: #f8f8f8;
}
.tablewidget-widget-content div.colors-rows:not(.colors-columns) table tbody tr:nth-child(even):not(.child) {
  background-color: #f8f8f8;
}
.tablewidget-widget-content div.colors-rows:not(.colors-columns) table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.tablewidget-widget-content div.colors-columns:not(.colors-rows) table tbody tr td:nth-child(even) {
  background-color: #f8f8f8;
}
.tablewidget-widget-content div.colors-columns:not(.colors-rows) table tbody tr td:nth-child(odd) {
  background-color: #ffffff;
}
.tablewidget-widget-content .colors-columns.colors-rows table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}
.tablewidget-widget-content .colors-columns.colors-rows table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.tablewidget-widget-content .colors-columns.colors-rows table tbody td:nth-child(even) {
  background-color: #f8f8f8 !important;
}
.tablewidget-widget-content .hide-info .dataTables_paginate > span,
.tablewidget-widget-content .hide-info .dataTables_info {
  display: none;
}
.tablewidget-widget-content .width-window .dataTables_scroll .dataTables_scrollBody {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.tablewidget-widget-content .width-window .dataTables_scroll:hover .dataTables_scrollBody {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  z-index: 4;
}
.tablewidget-widget-content .width-window:not(.tw-webkit) .dataTables_scroll:after {
  content: normal !important;
  display: none !important;
}
.tablewidget-widget-content .width-window:not(.tw-webkit) .dataTables_scroll .dataTables_scrollHead {
  overflow: hidden !important;
}
.tablewidget-widget-content .width-window:not(.tw-webkit) .dataTables_scroll .dataTables_scrollBody {
  top: 0;
}
.tablewidget-widget-content .tw-webkit .dataTables_scroll:after {
  width: 8px;
}
.tablewidget-widget-content .tw-webkit .dataTables_scroll .dataTables_scrollBody {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.tablewidget-widget-content .tw-webkit .dataTables_scroll:hover .dataTables_scrollBody {
  overflow-x: auto !important;
  overflow-y: scroll !important;
  z-index: 4;
}
.tablewidget-widget-content .tw-webkit.width-window .dataTables_scroll .dataTables_scrollBody {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.tablewidget-widget-content .tw-webkit.width-window .dataTables_scroll:hover .dataTables_scrollBody {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  z-index: 4;
}
.tablewidget-widget-content .tw-ff .dataTables_scroll .dataTables_scrollBody {
  top: -7px;
}
.tablewidget-widget-content table.cell-overflow-hidden th,
.tablewidget-widget-content table.cell-overflow-hidden td {
  overflow: hidden;
}
.tablewidget-widget-content table.visibility-hidden {
  visibility: hidden;
}
.tablewidget-widget-content table,
.tablewidget-widget-content table.dataTable {
  width: 100%;
  clear: both;
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 0;
}
.tablewidget-widget-content table thead tr th,
.tablewidget-widget-content table.dataTable thead tr th {
  font-weight: normal;
  text-align: left;
  position: relative;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}
.tablewidget-widget-content table thead tr th:hover .tw-sort-head,
.tablewidget-widget-content table.dataTable thead tr th:hover .tw-sort-head {
  display: inline-block;
}
.tablewidget-widget-content table thead tr th.sorted .tw-sort-head,
.tablewidget-widget-content table.dataTable thead tr th.sorted .tw-sort-head {
  display: inline-block;
  background: url('/resources/table/images/arrow_sprite_16.png') no-repeat right -16px;
}
.tablewidget-widget-content table thead tr th.sorted .tw-sort-head.asc:hover,
.tablewidget-widget-content table.dataTable thead tr th.sorted .tw-sort-head.asc:hover {
  -webkit-transform: rotate(0deg);
  -khtml-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.tablewidget-widget-content table thead tr th.sorted .tw-sort-head.desc:hover,
.tablewidget-widget-content table.dataTable thead tr th.sorted .tw-sort-head.desc:hover {
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tablewidget-widget-content table thead tr th .tw-sort-head,
.tablewidget-widget-content table.dataTable thead tr th .tw-sort-head {
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  background: url('/resources/table/images/arrow_sprite_16.png') no-repeat right top;
  background-size: 16px 32px;
  height: 16px;
  width: 16px;
  float: right;
  display: none;
}
.tablewidget-widget-content table thead tr th .tw-sort-head:hover,
.tablewidget-widget-content table.dataTable thead tr th .tw-sort-head:hover {
  background: url('/resources/table/images/arrow_sprite_16.png') no-repeat right -16px;
}
.tablewidget-widget-content table thead tr th .tw-sort-head.asc,
.tablewidget-widget-content table.dataTable thead tr th .tw-sort-head.asc {
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tablewidget-widget-content table thead tr th .tw-sort-head.desc,
.tablewidget-widget-content table.dataTable thead tr th .tw-sort-head.desc {
  -webkit-transform: rotate(0deg);
  -khtml-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.tablewidget-widget-content table thead tr th:first-child,
.tablewidget-widget-content table.dataTable thead tr th:first-child {
  border-left: 1px solid #CCCCCC;
}
.tablewidget-widget-content table thead tr th .grip,
.tablewidget-widget-content table.dataTable thead tr th .grip {
  height: 25px;
  width: 2px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
}
.tablewidget-widget-content table tr.child,
.tablewidget-widget-content table.dataTable tr.child {
  padding-bottom: 0;
}
.tablewidget-widget-content table tr.child td,
.tablewidget-widget-content table.dataTable tr.child td {
  padding: 8px 10px 3px 0;
}
.tablewidget-widget-content table tr.child td ul,
.tablewidget-widget-content table.dataTable tr.child td ul {
  width: 100%;
  display: initial;
}
.tablewidget-widget-content table tr.child td ul li,
.tablewidget-widget-content table.dataTable tr.child td ul li {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0;
  border: none;
  width: 100%;
}
.tablewidget-widget-content table tr.child td ul li span,
.tablewidget-widget-content table.dataTable tr.child td ul li span {
  font-family: ubuntulight, sans-serif;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50%;
  height: 14px;
  font-size: 13px;
}
.tablewidget-widget-content table tr.child td ul li span.dtr-title,
.tablewidget-widget-content table.dataTable tr.child td ul li span.dtr-title {
  color: #737373;
  width: auto;
  float: left;
  max-width: calc(97%);
}
.tablewidget-widget-content table tr.child td ul li span.dtr-data,
.tablewidget-widget-content table.dataTable tr.child td ul li span.dtr-data {
  width: 50%;
  color: #2c3342;
}
.tablewidget-widget-content table tr.child td ul li span.tw-title-wrapper,
.tablewidget-widget-content table.dataTable tr.child td ul li span.tw-title-wrapper {
  width: 50%;
  max-width: 140px;
  padding-right: 10px;
}
.tablewidget-widget-content table tr.child td ul li span.tw-colon,
.tablewidget-widget-content table.dataTable tr.child td ul li span.tw-colon {
  width: 3px;
  float: left;
  color: #737373;
}
.tablewidget-widget-content table tr.even,
.tablewidget-widget-content table.dataTable tr.even {
  background-color: #F8F8F8;
}
.tablewidget-widget-content table tr.odd,
.tablewidget-widget-content table.dataTable tr.odd {
  background-color: #FFFFFF;
}
.tablewidget-widget-content table tr:not(.white).odd td.even,
.tablewidget-widget-content table.dataTable tr:not(.white).odd td.even {
  background-color: #FFFFFF;
}
.tablewidget-widget-content table tr td.even,
.tablewidget-widget-content table.dataTable tr td.even {
  background-color: #F8F8F8;
}
.tablewidget-widget-content table tr td.odd,
.tablewidget-widget-content table.dataTable tr td.odd {
  background-color: #FFFFFF;
}
.tablewidget-widget-content table tr td,
.tablewidget-widget-content table.dataTable tr td,
.tablewidget-widget-content table tr th,
.tablewidget-widget-content table.dataTable tr th {
  -webkit-transform: translateZ(0);
  -webkit-transform: scale3d(1, 1, 1);
  vertical-align: top;
  color: #2c3342;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 8px 0 8px;
  font-family: ubuntulight, sans-serif;
  font-size: 13px;
  height: 26px;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.tablewidget-widget-content table tr td:first-child,
.tablewidget-widget-content table.dataTable tr td:first-child,
.tablewidget-widget-content table tr th:first-child,
.tablewidget-widget-content table.dataTable tr th:first-child {
  border-left: 1px solid #CCCCCC;
}
.tablewidget-widget-content table tr th,
.tablewidget-widget-content table.dataTable tr th {
  padding: 4px 22px 4px 8px;
  vertical-align: top;
}
.tablewidget-widget-content table tr:last-child td,
.tablewidget-widget-content table.dataTable tr:last-child td {
  border-bottom: 1px solid #CCCCCC;
}
.tablewidget-widget-content .dataTables_info,
.tablewidget-widget-content .dataTables_paginate {
  position: absolute;
  bottom: -4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FFFFFF;
}
.tablewidget-widget-content .dataTables_info {
  font-family: ubuntulight, sans-serif;
  z-index: 3;
  font-size: 13px;
  margin: 4px 15px 0 10px;
  right: 0;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate {
  left: 0;
  text-align: right;
  margin: 4px 10px 0 10px;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate span > span {
  padding-right: 6px;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .first,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .last,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .previous,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .next {
  font-size: 0 !important;
  text-indent: 9999px;
  width: 16px;
  height: 16px;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .first.disabled,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .last.disabled,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .previous.disabled,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .next.disabled {
  opacity: 0.5;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .first,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .last,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .next {
  margin: 0 !important;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .first,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .last {
  background: url('/resources/pivot/images/pager-double.png') no-repeat;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .previous,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .next {
  background: url('/resources/pivot/images/pager-single.png') no-repeat;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .first,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .previous {
  background-position: 0 -32px;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .first:hover:not(.disabled),
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .previous:hover:not(.disabled) {
  background-position: 0 0;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .last,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .next {
  background-position: 0 -48px;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .last:hover:not(.disabled),
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .next:hover:not(.disabled) {
  background-position: 0 -16px;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .last {
  display: none !important;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #ACACAC !important;
  margin-right: 6px;
  line-height: 16px;
  vertical-align: middle;
  font-family: ubuntulight, sans-serif;
  font-size: 13px;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #272A34 !important;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #ACACAC !important;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #272A34 !important;
}
.tablewidget-widget-content .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
}
/* Export layout hacks and workarounds */
.reporting-layout .tablewidget-widget-content .tw-table-container.tw-vertical-scroll .tw-bottom-border {
  display: block !important;
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 5;
  border: none !important;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* W3C */
}
.reporting-layout .tablewidget-widget-content .tw-table-container.tw-vertical-scroll:not(.borders-grid) .tw-bottom-border {
  left: 1px !important;
  z-index: 6;
}
.reporting-layout .tablewidget-widget-content .tw-table-container.tw-vertical-scroll:not(.borders-grid) .tw-bottom-border:after {
  content: '';
  width: inherit;
  position: absolute;
  height: 0;
  border-bottom: 1px solid #CCCCCC;
  left: 0;
  bottom: 0;
}
.reporting-layout .tablewidget-widget-content .tw-table-container.tw-vertical-scroll:not(.infinite-scroll) .tw-bottom-border {
  height: 0 !important;
}
.reporting-layout .tablewidget-widget-content .tw-table-container.tw-horizontal-scroll .tw-right-border {
  display: block !important;
  width: 50px;
  position: absolute;
  right: 0 !important;
  border: none !important;
  z-index: 5;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eaeaea 100%);
  /* W3C */
}
.reporting-layout .tablewidget-widget-content .tw-table-container.tw-horizontal-scroll:not(.borders-grid) .tw-left-border,
.reporting-layout .tablewidget-widget-content .tw-table-container.tw-horizontal-scroll:not(.borders-grid) .tw-right-border {
  top: 1px;
}
.reporting-layout .tablewidget-widget-content .tw-table-container.tw-horizontal-scroll:not(.borders-grid) .tw-left-border {
  display: block !important;
  border-color: #CCCCCC !important;
  right: 0 !important;
  z-index: 6 !important;
}
.export-layout-feed .tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollHead,
.export-layout-as-is .tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollHead,
.reporting-widget-layout .tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollHead {
  overflow: hidden !important;
}
.export-layout-feed .tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollBody,
.export-layout-as-is .tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollBody,
.reporting-widget-layout .tablewidget-widget-content .tw-table-container .dataTables_scroll .dataTables_scrollBody {
  overflow: hidden !important;
}
.export-layout-feed .tablewidget-widget-content .tw-table-container .dataTables_scroll:after,
.export-layout-as-is .tablewidget-widget-content .tw-table-container .dataTables_scroll:after,
.reporting-widget-layout .tablewidget-widget-content .tw-table-container .dataTables_scroll:after {
  content: none !important;
  display: none !important;
}
/* STYLER */
.tablewidget-styler-content .tablewidget-borders-host {
  padding: 0 7px 0 8px;
  margin-top: 15px;
}
.tablewidget-styler-content .tablewidget-selected-borders-caption {
  height: 27px;
  background: #fff;
  margin-top: 1px;
  margin-right: 1px;
  text-align: center;
  padding-top: 5px;
}
.tablewidget-styler-content .tablewidget-borders-item {
  width: 55px;
  height: 55px;
  margin-right: 1px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  cursor: pointer;
  cursor: hand;
}
.tablewidget-styler-content .tablewidget-borders-item:nth-last-child(2) {
  margin-right: 0;
  width: 56px;
}
.tablewidget-styler-content .tablewidget-borders-image {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-top: 15px;
  background-image: url("/resources/table/images/sprite-borders.png");
  background-repeat: no-repeat;
}
.tablewidget-styler-content .tablewidget-borders-image[image-type$="all"] {
  background-position: 0 1px;
}
.tablewidget-styler-content .tablewidget-borders-image[image-type$="grid"] {
  background-position: 0 -24px;
}
.tablewidget-styler-content .tablewidget-borders-image[image-type$="rows"] {
  background-position: 0 -48px;
}
.tablewidget-styler-content .tablewidget-borders-image[image-type$="columns"] {
  background-position: 0 -74px;
}
.tablewidget-styler-content .tablewidget-borders-item.selected .tablewidget-borders-image[image-type$="all"],
.tablewidget-styler-content .tablewidget-borders-item:hover .tablewidget-borders-image[image-type$="all"] {
  background-position: -25px 1px;
}
.tablewidget-styler-content .tablewidget-borders-item.selected .tablewidget-borders-image[image-type$="grid"],
.tablewidget-styler-content .tablewidget-borders-item:hover .tablewidget-borders-image[image-type$="grid"] {
  background-position: -25px -24px;
}
.tablewidget-styler-content .tablewidget-borders-item.selected .tablewidget-borders-image[image-type$="rows"],
.tablewidget-styler-content .tablewidget-borders-item:hover .tablewidget-borders-image[image-type$="rows"] {
  background-position: -25px -48px;
}
.tablewidget-styler-content .tablewidget-borders-item.selected .tablewidget-borders-image[image-type$="columns"],
.tablewidget-styler-content .tablewidget-borders-item:hover .tablewidget-borders-image[image-type$="columns"] {
  background-position: -25px -74px;
}

.tablewidget-widget-content table tr:hover,
.tablewidget-widget-content table tr:hover td,
.tablewidget-widget-content table tr:hover th,
.tablewidget-widget-content .colors-columns.colors-rows table tbody tr:hover td:nth-child(even) {
    background-color: #F0F0F0 !important;
}
