<div data-ng-controller="plugin-WidgetsTabber.controllers.stylerController">
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">WIDGET WIDTH</div>
            <div class="pane-row-holder marker-size">
                <div class="black-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="450"
                                 data-max="2000"
                                 data-step="25"
                                 data-value="model.width"
                                 data-trigger="change"
                                 data-on-release="onWidthChange()"></data-slider>
                </div>
            </div>
        </div>
    </div>
</div>