<div class="kmeans group-delete-modal share-host" ng-controller="plugin-kmeans.controllers.viewDetails" >
    <div class="modal-header">
        <div class="title-text">Clustering</div>
    </div>
    <div class="line-border"></div>
    <div class="delete-body">
        <div class="delete-group-msg">
			<div class="addMeasure">
				<span>Choose up to {{config.maxMeasures}} measures:</span>
				<button class="addmeasure" type="button" ng-disabled="measures.length>=config.maxMeasures" data-ng-click="popjaql($event, in.goodScope)">select measure</button>
			</div>
			<div class="measure" ng-repeat="measure in measures">
				<span>{{measure.title || measure.agg + " " + measure.dim}}</span>
				<div class="trash" data-ng-click="removeMeasure($index)"></div>
			</div>
			<div class="breakline"></div>
			<div>
				Select number of clusters:<span class="numclusters">{{numClusters}}</span>
			</div>
			<div>
				<slider min="{{config.minClusters}}" max="{{config.maxClusters}}" step="1" type="value" value="numClusters" />
			</div>
		</div>
		<div class="share-modal-footer">
			<button class="btn-cancel" type="button" data-ng-click="in.onCloseFn()">Cancel</button>
			<button class="btn-ok" type="button" ng-disabled="measures.length<1" data-ng-click="save($event)">Apply</button>
		</div>
	</div>
</div>
